.pokemon__image{
  width: 350px;
}


.types__images{
  width: 40px;
  height: 40px;
}

.pokedollar__image{
  width: 15px;
  height: 1.5rem;
  margin-left: 5px;
  margin-top: 0.9rem;
}

.progress{
  width: 250px;
  height: 25px;
  border-radius: 999px;
}

.progress-bar{
  font-size: 1rem;
}

.price__text{
  font-size: 2rem;
}

.damage-resistance__image{
  width: 40px;
  height: 40px;
}

.evolution__image{
  width: 180px;
  height: 180px;
}
.loader-container{
  margin-top: 300px;
  padding: 100px;
  width: 200px;
}
