<!-- HEADER ------------------------------------------------------------------------------------------>

<div class="header__container container-fluid mt-5">
  <div class="row">

    <div class="col-md-6 col-12 header__left-container">
      <div class="header__left-text-container w-50 text-white m-5">
        <h2>Des prix justes toute l'année</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quibusdam architecto ratione adipisci provident est qui consectetur quasi, cum repellat.</p>
      </div>
    </div>

    <div class="col-md-6 col-12 header__right-container d-flex justify-content-end align-items-end">
      <div class="header__right-text-container w-50 text-end text-white m-5">
      <h2>Le plus grand choix</h2>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quibusdam architecto ratione adipisci provident est qui consectetur quasi, cum repellat.</p>
      </div>
    </div>


  </div>
</div>

<!-- NOS VALEURS ------------------------------------------------------------------------------------------>
<br>
<br>
<div class="container valeurs__global-container my-5">

  <div class="row gx-5">

    <div class="col-md-4 col-12">
      <div class="bg-light rounded text-center valeurs__container">
        <h2 class="p-3">Rapidité</h2>
        <p class="p-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt animi minima dolorum natus placeat, vero assumenda recusandae repellat a quam inventore perspiciatis culpa nemo? Impedit facere nemo magnam voluptatem perspiciatis autem eveniet quibusdam. Nihil reprehenderit maxime rem autem dicta voluptas?</p>
      </div>
    </div>

    <div class="col-md-4 col-12 ">
      <div class="bg-light rounded text-center valeurs__container">
        <h2 class="p-3">Qualité</h2>
        <p class="p-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt animi minima dolorum natus placeat, vero assumenda recusandae repellat a quam inventore perspiciatis culpa nemo? Impedit facere nemo magnam voluptatem perspiciatis autem eveniet quibusdam. Nihil reprehenderit maxime rem autem dicta voluptas?</p>
      </div>
    </div>

    <div class="col-md-4 col-12 ">
      <div class="bg-light rounded text-center valeurs__container">
        <h2 class="p-3">Bonne humeur</h2>
        <p class="p-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt animi minima dolorum natus placeat, vero assumenda recusandae repellat a quam inventore perspiciatis culpa nemo? Impedit facere nemo magnam voluptatem perspiciatis autem eveniet quibusdam. Nihil reprehenderit maxime rem autem dicta voluptas?</p>
      </div>
    </div>

  </div>

<div class="d-flex justify-content-center my-5">
  <a class="btn btn-danger rounded-pill px-4" routerLink="/nosproduits">NOS PRODUITS</a>
</div>

</div>


<!-- BIEN ETRE ANIMAL ------------------------------------------------------------------------------------------>
<br>
<br>
<div class="bien-etre__global-container container-fluid bg-light my-5 p-3">

  <div class="container">
    <div class="row">

      <div class="col-md-8 col-12 text-center align-self-center">
        <h2 class="pb-3">Le bien-être pokémal, notre priorité</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam officia ipsam modi accusantium laboriosam, ipsa eveniet mollitia ullam quod corporis nihil ratione pariatur dolorem itaque eos reiciendis omnis neque odit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam officia ipsam modi accusantium laboriosam, ipsa eveniet mollitia ullam quod corporis nihil ratione pariatur dolorem itaque eos reiciendis omnis neque odit.</p>
      </div>

      <div class="col-md-4 col-12 text-center">
        <img src="../../assets/wellcare.png" alt="">
      </div>

    </div>
  </div>

</div>

<!-- NOTRE EQUIPE ------------------------------------------------------------------------------------------>
<br>
<br>
<div class="equipe__global-container container my-5">

  <h2 class="text-center pb-5">Notre équipe</h2>

  <div class="equipe__container d-flex justify-content-around flex-wrap">

    <div class="equipe__perso-container text-center rounded p-3 my-2">
      <div class="equipe__image-container rounded">
        <img src="../../assets/chene.png" alt="Professeur Chêne" class="equipe__image">
      </div>
      <p class="lead mb-0 fst-italic fw-semibold">Professeur Chêne</p>
      <p>Chercheur en pédigrée pokémal</p>
    </div>

    <div class="equipe__perso-container text-center rounded p-3 my-2">
      <div class="equipe__image-container rounded">
        <img src="../../assets/joelle.png" alt="Infimière Joelle" class="equipe__image">
      </div>
      <p class="lead mb-0 fst-italic fw-semibold">Infimière Joelle</p>
      <p>Soignante spécialisée en pokémon</p>
    </div>

    <div class="equipe__perso-container text-center rounded p-3 my-2">
      <div class="equipe__image-container rounded">
        <img src="../../assets/jenny.png" alt="Agent Jenny" class="equipe__image">
      </div>
      <p class="lead mb-0 fst-italic fw-semibold">Agent Jenny</p>
      <p>Dogsitter pokémalienne</p>
    </div>

  </div>

</div>


<!-- CONTACT & RS ------------------------------------------------------------------------------------------>
<br>
<br>
<div class="container-fluid contact__global-container my-5">

  <div class="row">

    <div class="col-md-6 col-12 text-center">

      <h2 class="py-3">Contactez-nous</h2>
      <div class="contact__message-container text-center">
        <div class="contact__image-container">
          <img src="../../assets/enveloppe.png" alt="enveloppe" class="contact__image">
        </div>
        <a class="btn btn-light rounded-pill" routerLink="/contact">ENVOYER UN MESAGE</a>
      </div>

    </div>

    <div class="col-md-6 col-12 border border-secondary rounded text-center">
      <h2 class="pt-3">Attrapez nous</h2>
      <p class=>en nous suivant dès à présent sur :</p>

      <div class="reseau__container d-flex justify-content-center py-3">
        <a href="#"><img src="../../assets/Inst-gris.png" alt="logo Instagram" class="px-2 reseau__iamge"></a>
        <a href="#"><img src="../../assets/Fb-gris.png" alt="logo Facebook" class="px-2 reseau__iamge"></a>
        <a href="#"><img src="../../assets/TT-gris.png" alt="logo TikTok" class="px-2 reseau__iamge"></a>
        <a href="#"><img src="../../assets/In-gris.png" alt="logo Linkedin" class="px-2 reseau__iamge"></a>
      </div>

    </div>


  </div>


</div>
<br>
<br>
